@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes matrix {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}

.animate-matrix {
  animation: matrix 20s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  letter-spacing: 0.5em;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* Custom cursor style */


.cursor {
  width: 8px;
  height: 16px;
  background-color: #22c55e;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}